<%
  die1 = rand(1..6)
  die2 = rand(1..6)
%>

<h1>Roll the Dice!</h1>

<p>
  <img src="images/dice/<%= die1 %>.svg">
  <img src="images/dice/<%= die2 %>.svg">
</p>

<p>
  <a href="/dice">Roll again!</a>
</p>
