<% fillings = ["Carnitas", "Al Pastor", "Steak", "Fish", "Veggie"] %>

<h1>I love tacos!</h1>
<p>There are so many kinds of great tacos:</p>
<ul>
 <% for filling in fillings %>
  <li><%= filling%></li>
 <% end %>
</ul>